@font-face{
  font-family:"Pop";
  src:url("Poppins-Regular.ttf");
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Pop";
}
:root{
  --Dark-Gray : hsl(0, 0%, 52%);
  --bg-color: hsl(0, 0%, 98%);
  --el-color: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --box-shadow:1px 1px 10px rgba(0,0,0,0.3);
}
.dark{
  --bg-color: hsl(207, 26%, 17%);
  --el-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
}
body {
  width:100%;
  height:100vh;
  background:var(--bg-color);
  color:var(--text-color);
}
.nav{
  display:flex;
  align-items: center;
  justify-content:space-between;
  padding:20px 30px;
  background:var(--el-color);
}
.nav button{
  display:flex;
  align-items:center;
  gap:4px;
  text-align:center;
  background:none;
  border:none;
}
.themeBtn span{
  color:var(--text-color);
}
#sun{
  color: #fff;
  display:none;
}
main{
  padding:4vw 5vw;
}
.backBtn{
  width:15vw;
  height:4.5vh;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:7px;
  margin-bottom:6vh;
  margin-top:4vh;
  border:none;
  outline:none;
  background:var(--el-color);
}
.container{
  display:flex;
  gap:8vw;
}
.container img{
  width:45vw;
  object-fit:cover;
}
.country-details{
  display:flex;
  flex-direction:column;
  gap:4vh;
}
.country-details h1{
  font-size:3vw;
}
.rome{
  display:flex;
  gap:5vw;
}
.rome p,.borders{
  font-size:1vw;
}
.borders{
  display:flex;
  gap:6px;
  align-items:center;
  justify-content:center;
  text-align:center;
  flex-wrap:wrap;
}
.borders a{
  text-decoration:none;
  color:var(--text-color);
  background:var(el-color);
  padding:3px;
  border-radius:3px;
}
.nav,.backBtn,.borders a{
  box-shadow:var(--box-shadow);
}
@media (max-width:768px){
  main,.container,.rome{
    display:flex;
    flex-direction:column;
  }
  .container img{
    width:100%;
  }
}